<div id="outer-wrap">
  	
	<!-- Navigation -->
	<nav class="mainNav">
		<ul>
			<li>
			
			
			<a>1. Grup Sesler (e-l-a-n)</a>
				<ul>
					<li><a href="#">E Sesi</a>
						<ul>
							<li><a href="https://www.google.com.tr">E Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">E Sesi Harf Sunuları</a></li>
							<li><a href="#">E Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">E Sesi Yazma</a></li>
							<li><a href="#">E Sesi Hece – Sözcük</a></li>
							<li><a href="#">E Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">E Sesi Tümce – Metin</a></li>
							
						</ul>
					</li>
					<li><a href="#">L Sesi</a>
						<ul>
							<li><a href="#">L Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">L Sesi Harf Sunuları</a></li>
							<li><a href="#">L Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">L Sesi Yazma</a></li>
							<li><a href="#">L Sesi Hece – Sözcük</a></li>
							<li><a href="#">L Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">L Sesi Tümce – Metin</a></li>
						</ul>
					</li>
				
					<li><a href="#">A Sesi</a>
						<ul>
							<li><a href="#">A Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">A Sesi Harf Sunuları</a></li>
							<li><a href="#">A Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">A Sesi Yazma</a></li>
							<li><a href="#">A Sesi Hece – Sözcük</a></li>
							<li><a href="#">A Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">A Sesi Tümce – Metin</a></li>
						</ul>
					</li>
					
					<li><a href="#">N Sesi</a>
						<ul>
							<li><a href="#">N Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">N Sesi Harf Sunuları</a></li>
							<li><a href="#">N Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">N Sesi Yazma</a></li>
							<li><a href="#">N Sesi Hece – Sözcük</a></li>
							<li><a href="#">N Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">N Sesi Tümce – Metin</a></li>
						</ul>
					</li>
					
					
					
				</ul>
				
				
				
			</li>
			
			
			
			
			<li>
			
			
			<a>2. Grup Sesler (i-t-o-b-u)</a>
				<ul>
					<li><a href="#">İ Sesi</a>
						<ul>
							<li><a href="https://www.google.com.tr">İ Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">İ Sesi Harf Sunuları</a></li>
							<li><a href="#">İ Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">İ Sesi Yazma</a></li>
							<li><a href="#">İ Sesi Hece – Sözcük</a></li>
							<li><a href="#">İ Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">İ Sesi Tümce – Metin</a></li>
							
						</ul>
					</li>
					<li><a href="#">T Sesi</a>
						<ul>
							<li><a href="#">T Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">T Sesi Harf Sunuları</a></li>
							<li><a href="#">T Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">T Sesi Yazma</a></li>
							<li><a href="#">T Sesi Hece – Sözcük</a></li>
							<li><a href="#">T Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">T Sesi Tümce – Metin</a></li>
						</ul>
					</li>
				
					<li><a href="#">O Sesi</a>
						<ul>
							<li><a href="#">O Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">O Sesi Harf Sunuları</a></li>
							<li><a href="#">O Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">O Sesi Yazma</a></li>
							<li><a href="#">O Sesi Hece – Sözcük</a></li>
							<li><a href="#">O Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">O Sesi Tümce – Metin</a></li>
						</ul>
					</li>
					
					<li><a href="#">B Sesi</a>
						<ul>
							<li><a href="#">B Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">B Sesi Harf Sunuları</a></li>
							<li><a href="#">B Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">B Sesi Yazma</a></li>
							<li><a href="#">B Sesi Hece – Sözcük</a></li>
							<li><a href="#">B Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">B Sesi Tümce – Metin</a></li>
						</ul>
					</li>
					
					<li><a href="#">U Sesi</a>
						<ul>
							<li><a href="#">U Sesi Gif ve Animasyonlar</a></li>
							<li><a href="#">U Sesi Harf Sunuları</a></li>
							<li><a href="#">U Sesi Hissetme – Kavratma</a></li>
							<li><a href="#">U Sesi Yazma</a></li>
							<li><a href="#">U Sesi Hece – Sözcük</a></li>
							<li><a href="#">U Sesi Görselin Adını Yaz</a></li>
							<li><a href="#">U Sesi Tümce – Metin</a></li>
						</ul>
					</li>
					
					
					
					
					
				</ul>
				
				
				
			</li>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</ul>
	</nav>

</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="op/navAccordion.min.js"></script>
	<script>
		jQuery(document).ready(function(){
		
			//Accordion Nav
			jQuery('.mainNav').navAccordion({
				expandButtonText: '<i class="fa fa-plus"></i>',  //Text inside of buttons can be HTML
				collapseButtonText: '<i class="fa fa-minus"></i>'
			}, 
			function(){
				console.log('Callback')
			});
			
		});
	</script>
	
</body>