	<!-- Navigation -->
	<nav class="mainNav">
		<ul>
			<li class="selected"><a href="#">Selected Channel</a>
				<ul>
					<li><a href="#">Sub Link 1</a></li>
					<li><a href="#">Sub Link 2</a></li>
					<li><a href="#">Sub Link 3</a>
						<ul>
							<li><a href="#">Sub Link 1</a></li>
							<li><a href="#">Sub Link 2</a></li>
							<li><a href="#">Sub Link 3</a></li>
							<li><a href="#">Sub Link 4</a></li>
							<li><a href="#">Sub Link 5</a></li>
						</ul>
					</li>
					<li><a href="#">Sub Link 4</a></li>
					<li><a href="#">Sub Link 5</a></li>
				</ul>
			</li>
			<li><a>This is set to header only</a>
				<ul>
					<li><a href="#">Sub Link 1</a></li>
					<li><a href="#">Sub Link 2</a></li>
					<li><a href="#">Sub Link 3</a></li>
					<li><a href="#">Sub Link 4</a></li>
					<li><a href="#">Sub Link 5</a></li>
				</ul>
			</li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">A really really long long link title goes here</a>
				<ul>
					<li><a href="#">Sub Link 1</a></li>
					<li><a href="#">Sub Link 2</a></li>
					<li><a href="#">Sub Link 3</a></li>
					<li><a href="#">Sub Link 4</a></li>
					<li><a href="#">Sub Link 5</a></li>
				</ul>
			</li>
		</ul>
	</nav>