<div id="outer-wrap">
  	
	<!-- Navigation -->
	<nav class="mainNav">
		<ul>
			
			
			<li><a>2.gr</a>
				<ul>
					<li><a href="#">e</a>
						<ul>
							<li><a href="https://www.google.com.tr">Sub Link 1</a></li>
							<li><a href="#">Sub Link 2</a></li>
							<li><a href="#">Sub Link 3</a></li>
							<li><a href="#">Sub Link 4</a></li>
							<li><a href="#">Sub Link 5</a></li>
						</ul>
					</li>
					<li><a href="#">l..</a>
						<ul>
							<li><a href="#">Sub Link 1</a></li>
							<li><a href="#">Sub Link 2</a></li>
							<li><a href="#">Sub Link 3</a></li>
							<li><a href="#">Sub Link 4</a></li>
							<li><a href="#">Sub Link 5</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="#">Link 3</a></li>
			<li><a href="#">A really really long long link title goes here</a>
				<ul>
					<li><a href="#">Sub Link 1</a></li>
					<li><a href="#">Sub Link 2</a></li>
					<li><a href="#">Sub Link 3</a></li>
					<li><a href="#">Sub Link 4</a></li>
					<li><a href="#">Sub Link 5</a></li>
				</ul>
			</li>
		</ul>
	</nav>

</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="op/navAccordion.min.js"></script>
	<script>
		jQuery(document).ready(function(){
		
			//Accordion Nav
			jQuery('.mainNav').navAccordion({
				expandButtonText: '<i class="fa fa-plus"></i>',  //Text inside of buttons can be HTML
				collapseButtonText: '<i class="fa fa-minus"></i>'
			}, 
			function(){
				console.log('Callback')
			});
			
		});
	</script>
	
</body>